nav.menu {
    background-color: #0C356A;
}


ul {
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0;
    text-align: right; 
}

ul li.item-menu {
    display: inline-block;
}

ul li.item-menu a {
    display: inline-block;
    padding: 12px;
    text-decoration: none;
    color: #ffffff;
}

img.logo{
    width: 30%;
    height: 20%;
    position: relative;
    margin-top: 5%;
    left: 80px;
    }
    
    h1{
    position: relative;
    margin-top: 100px;
    left: 100px;
    width: 700px; /* Define a largura da caixa de texto justificado */
    text-align: justify;
    letter-spacing: -1px;

    
    }

img.adolescentes{
width: 40%;
height: 50%;
left: 60px;
float: right;
}

img.fundo{
    
    position: relative;
    width: 110%;
    height: 90%;
    float: right;
    margin-top: 30%;
    }
